{% extends 'diary/base_full_width.html' %}

{% block head_title %}Write a New Diary{% endblock %}

{% block main_area %}
  <h1>Write a New Diary !</h1>
  <h6>작성일자 : {{ diary.today }}</h6>
  <hr/>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
      {{ form }}
    </table>
    <button type="submit" class="btn btn-primary float-right">작성하기</button>
  </form>
{% endblock %}

<script>
   window.addEventListener('DOMContentLoaded', function() {
      var currentDateElement = document.getElementById('current_date');
      var currentDate = new Date().toLocaleDateString();
      currentDateElement.textContent = currentDate;

      var uploadButton = document.getElementById('upload_button');
      var fileInput = document.getElementById('file_input');
      var fileNamesContainer = document.getElementById('file_names');

      uploadButton.addEventListener('click', function() {
         fileInput.click();
      });

      fileInput.addEventListener('change', function() {
         fileNamesContainer.innerHTML = '';
         for (var i = 0; i < fileInput.files.length; i++) {
            var file = fileInput.files[i];
            var fileName = document.createElement('p');
            fileName.textContent = file.name;
            fileNamesContainer.appendChild(fileName);
         }
      });
   });
</script>