{% extends 'diary/base.html' %}

{% block main_area %}
<div style="margin-right:300px;">
    <h1>Diary List</h1>
</div>
    {% if diary_list.exists %}
    {% for p in diary_list %}
    {% if p.author == request.user %}
    <!-- Blog post-->
    <div class="row card mb-8">
        {% if p.head_image %}
            <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head_image"/>
        {% else %}
            <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200"
                alt="random_image">
        {% endif %}

        <div class="card-body">
            <div class="small text-muted">{{ p.created_at }}</div>
            <h2 class="card-title h4">{{ p.title }}</h2>
            <p class="card-text">{{ p.content }}</p>
            <a class="btn btn-primary" href="{{ p.get_absolute_urls }}">Read more &rarr;</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h3>아직 게시물이 없습니다.</h3>
    {% endif %}
{% endblock %}