{% extends 'diary/base.html' %}

{% block head_title %}
    {{  diary.title }} - Diary
{% endblock %}

    {% block main_area %}
        <div id="post-area">
            {% if messages %}
            <div class="alert alert-danger my-3" role="alert">
                {% for message in messages %}
                    <strong>{{ message.tag }}</strong>
                    <ul><li>{{ message.message }}</li></ul>
                {% endfor %}
            </div>
            {% endif %}
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ diary.title }}</h1>
            <hr/>

            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ diary.created_at }}</div>
            <!-- Preview image figure-->
            {% if diary.head_image %}
            <img class="img-fluid rounded" src="{{ diary.head_image.url }}"
                 alt="{{ diary.title }} head_image"/>
            {% else %}
            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ diary.id }}/800/200"
                 alt="random_image">
            {% endif %}
            <hr/>

            <!-- Post content-->
            <section class="mb-5">
                <p>{{ diary.content }}</p>
            </section>

            <div class="row chart-container">
                {% load static %}
                <div>
                    <img src="{% static 'image/' %}{{ radar_image_name }}" alt="Radar Chart"
                            style="width:500px; height:500px; float:left; margin-right:20px">
                </div>
                <div>
                    <img src="{% static 'image/' %}{{ pie_image_name }}" alt="Pie Chart"
                            style="width:500px; height:500px; float:left;">
                </div>
            </div>
            <div class="row">
                <img src="{% static 'image/' %}{{ bar_image_name }}" alt="Bar Chart"
                        style="width:1000px; height:300px; float:left;">
            </div>

            <div class="my-3">
                {% if request.user == diary.author %}
                <a href="{% url 'diary:diary_update' diary.id %}" class="btn btn-sm btn-outline-secondary">
                    수정하기
                </a>
                <a href="{% url 'diary:diary_delete' diary.id %}" class="btn btn-danger">
                    삭제하기
                </a>
                {% endif %}
            </div>
        </div>

{% endblock %}