{% extends 'diary/base.html' %}
{% load static %}
{% block main_area %}
<div style="padding: 10px;">
    <div>
        <h1 class="mt-5" style="text-align:center; margin-right: 150px;">About me</h1><hr>
    </div>
    <div class="container">
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-lg-8" style="padding: 30px; margin-left: 150px;">
                <div class="row">
                    <div class="col-md-6" style="margin-bottom: 20px;">
                        <img class="img-fluid" src="{% static 'single_pages/images/rabbit.jpeg' %}" height="450px;" width="300px;">
                    </div>
                    <div class="col-md-6" style="padding: 0 30px;">
                        <h4>이름: {{ user.username }}</h4>
                        <h4>메일: {{ user.email }}</h4>
                        <hr>
                        {% if info %}
                            {% for i in info %}
                                <div class="con2">
                                    <h4>전화번호: {{ i.number }}</h4>
                                    <h4>주소: {{ i.address }}</h4>
                                    <h4>생년월일: {{ i.birth }}</h4>
                                    <h4>학교: {{ i.school }}</h4>
                                    <h4>MBTI: {{ i.mbti }}</h4>
                                    <h4>취미: {{ i.hobby }}</h4>
                                </div>
                            {% endfor %}
                            <input type="button" onclick="location.href='/info/'" class="btn btn-primary justify-content-end"
                               style="color:#ffffff; background-color:#9391C3; border:0px;" id="wbtn3" value="정보수정">
                        {% else %}
                            <input type="button" onclick="location.href='/info/'" class="btn btn-primary justify-content-end"
                                   style="color:#ffffff; background-color:#9391C3; border:0px;" id="wbtn2" value="정보수정">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}